java-tomcat-sample-docker/.classpath
java-tomcat-sample-docker/.project
java-tomcat-sample-docker/.settings/org.eclipse.jdt.apt.core.prefs
java-tomcat-sample-docker/.settings/org.eclipse.jdt.core.prefs
java-tomcat-sample-docker/.settings/org.eclipse.m2e.core.prefs
